*{
    padding: 0;
    margin: 0;

}

:root {
    --background-color: #F3F5FC;
    --button1-color: #0A3871; 
    --button2-color: #D8DFE8; 
    --font-family: 'inter';
}

body {
  
    background-color: var(--background-color);
    font-family: var(--font-family);
}

.main{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    margin: 5%;
}

.botones{
    display: flex;
    gap: 24px;
    display: flex;
}

button.encriptar{
    background-color:var(--button1-color);
    border: none;
    border-radius: 24px;
    color: #ffffff;
    gap: 8px;
    padding: 24px;
    width: fixed 328px;

}
button.desencriptar{
    background-color:var(--button2-color);
    border: none;
    border-radius: 24px;
    color: #0A3871;
    gap: 8px;
    padding: 24px;
    width: fixed 328px;
}