* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #F3F5FC;
    --button1-color: #0A3871; 
    --button2-color: #D8DFE8; 
    --font-family: "Inter", sans-serif;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
}

main {
    display: flex;
    justify-content: space-between;
    margin: 20px; /* Ajustado de 5cap a 20px para asegurar que haya un margen visible */
}

/* SECCION 1 */
.logo_seccion {
    display: flex;
    flex: 1;
    align-items: flex-start; 
}

.logoAlura {
    width: 45%;
}

/* SECCION 2 */
.area_ingreso {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.texto_ingreso {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    color: #0A3871;
    background-color: var(--background-color);
    border: none;
    outline: none;
    width: 100%; /* Cambiado de 90% a 100% para ajustar al ancho del contenedor */
    padding: 10px; /* Añadido padding para mejor apariencia del textarea */
}

.texto_ingreso::placeholder {
    color: #0A3871;
    opacity: 1;
}

.botones {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 10px;
    justify-content: center; /* Centra los botones horizontalmente */
}

button.encriptar, button.desencriptar {
    border: none;
    border-radius: 24px;
    color: #ffffff;
    gap: 8px;
    padding: 12px 24px; /* Ajustado el padding para mejor apariencia */
    cursor: pointer;
}

button.encriptar {
    background-color: var(--button1-color);
}

button.desencriptar {
    background-color: var(--button2-color);
    color: #0A3871; /* Texto en color específico para desencriptar */
}

/* SECCION 3 */
.rectangulo {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 32px;
    padding: 20px; /* Añadido padding para espacio interior */
    width: 100%; /* Ajustado para que ocupe todo el ancho disponible */
    max-width: 600px; /* Añadido max-width para limitar el tamaño máximo */
    margin: 0 auto; /* Centrando el rectángulo */
}

.muneco {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
}

.mensaje1, .mensaje2 {
    font-family: var(--font-family);
    text-align: center; /* Centra el texto dentro de los contenedores */
}

.mensaje1 {
    font-weight: 700;
    font-size: 24px;
    color: #343A40;
}

.mensaje2 {
    font-weight: 400;
    font-size: 24px; /* Ajustado para consistencia */
    color: #495057;
}

.footer {
    background-color: var(--background-color);
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0A3871; /* Ajustado para consistencia con el tema */
    font-weight: 700;
    padding: 10px; /* Añadido padding para mejorar el espaciado */
    position: fixed;
    width: 100%;
    bottom: 0;
}
